{% extends 'layout.html' %}
{% block title %}Homepage{% endblock %}
{% load static %}
{% block entrance %}


<div class="container">
    <div class="content">
        <div class="flex">
            <div class="first-image">

                <img src="{% static 'images/medical.png' %}" alt="Медицинский центр" width="350">
                <!--            <img src="images/medical.jpg" alt="Медицинский центр">-->
            </div>
            <div class="text-content">
                <h3><span style="color: #ff6b00">Медицинский центр</span> является амбулаторно-поликлиническим
                    учреждением,
                    осуществляющим обслуживание студентов и профессорско-преподавательского состава СФУ.
                    <br><br>Центр оснащен медицинским оборудованием, включая: функциональную и нейродиагностику,
                    маммограф,
                    флюорограф, рентген-аппарат, аппараты УЗИ, эндоскопическое, физиотерапевтическое и клинико-
                    диагностическое оборудование.
                </h3>
            </div>
        </div>

    </div>
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__items">
                <div class="slider__item">
                    <img src="{% static 'images/1pic.jpg' %}" alt="Медицинский центр" width="590">

                </div>
                <div class="slider__item">
                    <img src="{% static 'images/2pic.jpg' %}" alt="Медицинский центр" width="590">

                </div>
                <div class="slider__item">
                    <img src="{% static 'images/3pic.jpg' %}" alt="Медицинский центр" width="590">

                </div>
                  <div class="slider__item">
                    <img src="{% static 'images/5pic.jpg' %}" alt="Медицинский центр" width="590">

                </div>
                   <div class="slider__item">
                    <img src="{% static 'images/4pic.jpg' %}" alt="Медицинский центр" width="590">

                </div>
                   <div class="slider__item">
                    <img src="{% static 'images/6pic.jpg' %}" alt="Медицинский центр" width="590">

                </div>
            </div>
        </div>
        <a href="#" class="slider__control" data-slide="prev"></a>
        <a href="#" class="slider__control" data-slide="next"></a>
        <ol class="slider__indicators">
            <li data-slide-to="0"></li>
            <li data-slide-to="1"></li>
            <li data-slide-to="2"></li>
            <li data-slide-to="3"></li>
            <li data-slide-to="4"></li>
            <li data-slide-to="5"></li>

        </ol>
    </div>
</div>

{% endblock %}
