{% extends 'main/layout.html' %}
{% block title %}Homepage{% endblock %}

{% block entrance %}
<div class="">
    <div class=" content">

        <div class="">
            <div>thhyyyt</div>
            <!-- Grey navigation panel -->
        </div>

        <div class="text-content">
            <h5><span style="color: #ff6b00">Медицинский</span> центр является амбулаторно-поликлиническим учреждением,
                осуществляющим обслуживание студентов и профессорско-преподавательского состава СФУ.
                Центр оснащен медицинским оборудованием, включая: функциональную и нейродиагностику, маммограф,
                флюорограф, рентген-аппарат, аппараты УЗИ, эндоскопическое, физиотерапевтическое и клинико-
                диагностическое оборудование.
            </h5>
        </div>

    </div>

</div>
<div class="login">
    <div class="">
        <input placeholder="Placeholder" id="first_name" type="text" class="">
        <label for="first_name">First Name</label>
    </div>
    <div class="">
        <input id="last_name" type="text" class="">
        <label for="last_name">Last Name</label>
    </div>
</div>
{% endblock %}