{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="header">
      <table width="90%" cellpadding="5" cellspacing="0">
       <tr>
        <td id="col1">РИСУНОК</td>
        <td id="col2">ФЕДЕРАЛЬНЫЙ СИБИРСКИЙ НАУЧНО-КЛИНИЧЕСКИЙ ЦЕНТР</td>
        <td id="col3">Россия, г. Красноярск, <br> <b>пр. Свободный, 82, стр. 13</b></br></td>
        <td id="col4">Регистратура <br><b>+7 (391) 274-31-51</b></br></td>
       </tr>
      </table>
    <div class="first-header" style="background-color: #ffffff">

<!--        <a href="#" class="brand-logo">Logo</a>-->
        <ul id=" S" class="">
            <li>ФЕДЕРАЛЬНЫЙ СИБИРСКИЙ НАУЧНО-КЛИНИЧЕСКИЙ ЦЕНТР </li>
            <li>Россия, г. Красноярск,<span style="display: block">пр. Свободный, 82, стр. 13 </span></li>
            <li>Регистратура <br>+7 (391) 274-31-51 </li>

<!--                <div class="textcols">ФЕДЕРАЛЬНЫЙ СИБИРСКИЙ НАУЧНО-КЛИНИЧЕСКИЙ ЦЕНТР-->
<!--                    </div>-->
<!--                <div class="textcols-item">Россия, г. Красноярск,<br> пр. Свободный, 82, стр. 13-->
<!--                    </div>-->
         </ul>
    </div>




    <div class="second-header" style="background-color: #ff6b00">
        <ul class="">
            <li><a href="">Запись на прием</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Сотрудники</a></li>
            <li><a class="btn" href="">Регистрация</a></li>
        </ul>
    </div>

</nav>
<div class="">
    <div class=" content">

        <div class="">
            <div>thhyyyt</div>
            <!-- Grey navigation panel -->
        </div>

        <div class="text-content">
            <h5><span style="color: #ff6b00">Медицинский</span> центр является амбулаторно-поликлиническим учреждением,
                осуществляющим обслуживание студентов и профессорско-преподавательского состава СФУ.
                Центр оснащен медицинским оборудованием, включая: функциональную и нейродиагностику, маммограф,
                флюорограф, рентген-аппарат, аппараты УЗИ, эндоскопическое, физиотерапевтическое и клинико-
                диагностическое оборудование.
            </h5>
        </div>

    </div>

</div>
<div class="login">
    <div class="">
        <input placeholder="Placeholder" id="first_name" type="text" class="">
        <label for="first_name">First Name</label>
    </div>
    <div class="">
        <input id="last_name" type="text" class="">
        <label for="last_name">Last Name</label>
    </div>
</div>


</body>
</html>