{% extends 'main/layout.html' %}
{% block title %}PersonalArea{% endblock %}
{% block b %}<td id="coll1"><a href="/">На главную</a></td>{% endblock %}

{% block entrance %}
   <div class="contented"></div>

       <div class="information">
            <b><p>Личный кабинет</p></b>
            <hr size="5" color="ff6b00" width="1200" align="center">
            <div class="first-image">
                {% load static %}
                <img src="{% static 'images/pic.png' %}" alt="Иконка" width="100" height="110">

             </div>

            <table>
                {% for p in Patient %}
                    <tr><td><label>Дата рождения:</label></td><td>{{ p.date }}</td>
                    <tr><td><label>Полис ОМС:</label></td><td>{{ p.policy }}</td>
                    <tr><td><label>Телефон:</label></td><td>{{ p.policy }}</td>
                    <tr><td><label>Электронная почта:</label></td><td>{{ p.email }}</td>
                    <tr><td><label>Пароль:</label></td><td>{{ p.policy }}</td>

               {% endfor %}
            </table>
       </div>
{% endblock %}
