{% extends 'main/layout.html' %}
{% block title %}Registration{% endblock %}
{% block b %}<td id="coll1"><a href="/">На главную</a></td>{% endblock %}

    {% block entrance %}
        <div class="contented"></div>
            <div class="box">
                <p><b> Регистрация </b></p>
                    <div class="login">
                        <p>
                            <label for="patient surname">Фамилия:</label>
                            <input name="patient surname" type='text' required />
                        </p>
                        <p>
                            <label for="patient name">Имя:</label>
                            <input name="patient name" type='text' required />
                        </p>
                        <p>
                            <label for="patient patronymic">Отчество:</label>
                            <input name="patient patronymic" type='text' required />
                        </p>
                        <p>
                            <label for="email">Электронная почта:</label>
                            <input name="email" type='text' required />
                        </p>
                        <p>
                            <label for="password">Пароль:</label>
                            <input name="password" type='text' required />
                        </p>
                        <p>
                            <label for="reppassword">Повторите пароль:</label>
                            <input name="reppassword" type='text' required />
                        </p>
                        <p>
                             <label for="patient date">Дата рождения:</label>
                            <span>{{t.date}}</span>
                            <input name="patient date" type='date' ng-model='t.date'/>
                        </p>
                        <p>
                            <label for="policy">Номер полиса:</label>
                            <input name="policy" type='text' required />
                        </p>
                        <p>
                            <label for="number">Номер телефона:</label>
                            <input name="number" type='text' required />
                        </p>
                       <input type="submit" class="btn" value="Зарегистрироваться"/>
                    </div>
            </div>
        <div class="contented"></div>
    {% endblock %}


