{% block signup %}

<div class="popup-signup" style="display: none;">
    <div class="popup">
        <a class="popup-close" href="#">&#10005</a>
        <div class="popup-header"><b><p>РЕГИСТРАЦИЯ</p></b></div>
        <form action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            <div class="input-wrapper input--active">
                <h2 class="input-header">Логин:</h2>
                {{ form_class.username }}
            </div>
            <div class="input-wrapper input--active">
                <h2 class="input-header">Электронная почта:</h2>
                {{ form_class.email }}
            </div>
            <div class="input-wrapper input--active">
                <h2 class="input-header">Пароль:</h2>
                {{ form_class.password1 }}
            </div>
             <div class="input-wrapper input--active">
                <h2 class="input-header">Повторите пароль:</h2>
                {{ form_class.password2 }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>

{% endblock %}

