{% block login %}

<div class="information">
    <div class="popup-login" style="display: none;">
        <div class="popup">
            <a class="popup-close" href="#">&#10005</a>
            <div class="popup-header"><b><p>ВХОД</p></b></div>
            <form action="{% url 'login'%}" method="post">
                {% csrf_token %}
                <div class="input-wrapper input--active">
                    <h2 class="input-header">Логин:</h2>
                    {{ form_class.username }}
                </div>
                <div class="input-wrapper input--active">
                    <h2 class="input-header">Пароль:</h2>
                    {{ form_class.password }}
                </div>
                <button type="submit">Войти</button>
            </form>
            <form>
                <div class="condition">Если вы не зарегистрированы,
                    <a class="ref" href="#">Зарегистрируйтесь.</a>
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}
