{% block signup %}

<div class="information">
    <div class="popup-signup" style="display: none;">
        <div class="popup">
            <a class="popup-close" href="#">&#10005</a>
            <div class="popup-header"><b><h3>РЕГИСТРАЦИЯ</h3></b></div>
            <form action="{% url 'signuup' %}" method="POST">
                {% csrf_token %}
                <div class="input-wrapper input--active">
                    <p><span>Логин:</span>{{ form_class1.username }}</p>
                </div>
                <div class="input-wrapper input--active">
                    <p><span>Электронная почта:</span>{{ form_class1.email }}</p>
                </div>
                <div class="input-wrapper input--active">
                   <p><span>Пароль:</span> {{ form_class1.password1 }}</p>
                </div>
                <div class="input-wrapper input--active">
                    <p><span>Повторите пароль:</span> {{ form_class1.password2 }}</p>
                </div>
<!--                <a class="signup-btn" href="#" type="submit"><b>Зарегистрироваться</b></a>-->
                <input type="submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}

