h1{
color: #000080;
font-size:200%;
font-family: Arial, Verdana, sans-serif;
text-align: center;
}

TR {
color: #ff6b00;
text-align: center;
font-family: Trebuchet MS, sans-serif;
}
#col1 {
width: 10%; /* Ширина колонки */
}

#col2 {
font-size:120%;
width: 55%;
}

#col3 {
font-size:120%;
width: 20%;
}

#col4 {
width: 20%;
font-size:120%;
}

.header1 {
color:#fff;
background-color:#ff6b00;
}
.header1 .btn{
color:#ff6b00;
background-color:#fff;
}

.first-header {
color: #ff6b00;
}

.second-header{
background-color: #ff6b00;

}
.second-header .btn{
color:#ff6b00;
background-color:#fff;
}

.btn{
border-radius: 10px;
}

.content{
height: 50vh;
}
.text-content h5{
padding-top: 10px;

}

.input-field{
width: 25%;
background-color: white;
border-radius: 10px;
}

.login{
background-color:#ff6b00;
color: white;
}