*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

*{
margin:0;
padding:0;}

.first-header {
color: #ff6b00;
text-align: center;
font-family: Trebuchet MS, sans-serif;
font-size:120%;
padding:20px;
}
table{
width:100%;
}

/*ТАБЛИЦА-1*/
#col1 {
width: 10%; /* Ширина колонки */
}

#col2 {
width: 50%;
text-align:left;
font-weight:900;
font-size:140%;
}

#col3 {
width: 23%;
text-align:left;
}

#col4 {
width: 20%;
text-align:left;
}

.second-header {
color:#fff;
font-family: Trebuchet MS, sans-serif;
text-align: center;
background-color:#ff6b00;
font-size:150%;
width:100%;
height:70px;
box-shadow: 0 1.5px 10px #6E6E6E;
}
/*.second-header a:hover{
border-bottom:5px solid #fff;
}*/

a{text-decoration: none;
  color:#fff;
}
a,
a:after,
a:before {
 transition: all .5s;
}

 a:hover {
  color: #000;}

 a {
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
}
 a:after {
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}

/* ТАБЛИЦА-2*/
.tr-2{
align-items:center;
display: flex;
justify-content: space-between;
margin: 0 200px;
height: 100%;
}

.tr-2 td{
margin: 20px 0;}
#coll1
{ display: inline-block;
width: 20%; /* Ширина колонки */
}


#coll2 {
width: 20%;
}

#coll3 {
width: 20%;
}

#coll4 {
width: 20%;

}

#coll5 {
width: 20%;
}

.second-header .js-open-modal{
color:#ff6b00;
background-color:#fff;
width: 250px;
height: 26px;
}

.js-open-modal{
border-radius: 15px;
padding: 12px 24px;
border: none;
}

/*КОНТЕЙНЕР ГЛАВНОЙ СТРАНИЦЫ*/
.container{
max-width: 1200px;
margin: 0 auto;}

.content{

height: 50vh;
}
.text-content h3{
margin-left:30%;
color:#000;
text-align: left;
font-family: Trebuchet MS, sans-serif;
font-size:140%;
}

.flex{
padding-top: 80px;
display:flex;
}

/*БЛОК АВТОРИЗАЦИИ*/

.slider__wrapper {
      overflow: hidden;
      margin: 40px 0;
    }

    .slider__item {
      flex: 0 0 50%;

      max-width: 50%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 7rem;
    }
/*.popup-fade {
	display: none;
}*/
.popup-login:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup-signup:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 10000;
}

.popup-open{
background-color: #fff;
color: #ff6b00;
border-radius: 15px;
padding: 12px 24px;
border: none;}

.popup {
	position: fixed;
	top: 30%;
	left: 50%;
	padding: 20px;
	width: 35%;
    text-align:center;
	margin-left: -200px;
	background: #ff6b00;
	border-radius: 15px;
	z-index: 11000;
	opacity: 1;
}
.popup-close {
	position: absolute;
	color:#000;
	top: 10px;
	right: 10px;
}
.input-header{
color:#fff;
}
.popup-header h3{
position:relative;
text-align:center;
padding-bottom:20px;
font-size:180%;
color:#fff;
font-family: Trebuchet MS, sans-serif;
}

.form-input {
margin-bottom:30px;
font-style: italic;
text-align:center;
font-size: 100%;
padding: 10px 0px;
background: rgb(247, 247, 247);
border: 1px solid rgba(173, 173, 173, 1);
box-shadow:
   /*0pt 2px 5px rgba(105, 108, 109,  0.7),*/
  inset 0px 0px 10px 1px rgba(173, 173, 173, 1);
border-radius: 10px;
}

.information p{
text-align:left;
color:#fff;
font-family: Trebuchet MS, sans-serif;
font-size:110%
}

.condition{
font-size:110%;
padding-top:10%;
color:#000;
font-family: Trebuchet MS, sans-serif;
text-indent:2%
}
.condition a{
color:#fff;
}

.input-field{
width:24%;

}
.input-field input{
font-style: italic;
text-align:center;
font-size: 100%;
padding: 10px 0px;
background: rgb(247, 247, 247);
border: 1px solid rgba(173, 173, 173, 1);
box-shadow:
   /*0pt 2px 5px rgba(105, 108, 109,  0.7),*/
  inset 0px 0px 10px 1px rgba(173, 173, 173, 1);
border-radius: 10px;
}

.name {
margin: 50px 50% 35px 288%;
}

.pass , .surname{
margin: -10px 50% 35px 288%;

}

.login-btn, .signup-btn{
font-family: Trebuchet MS, sans-serif;
font-size:130%;
background-color:#ff6b00;
border-radius: 15px;
padding: 12px 16px;
border: 5px solid #fff;
margin-top:20px;
}

/*.modal__content .login-btn{
padding: 8px 15px;
}*/

/*Футер*/
#top-footer{
background-color:#000;
color:#fff;
font-size: 150%;
height: 20vh;

}

.rowf {
font-family: Trebuchet MS, sans-serif;
justify-content: space-between;
align-items: baseline;
position: relative;
column-count: 2;
padding: 1% 7% 0% 7%;
}
.rowf .contact{
text-align:left;
}

.rowf .address{
margin-left: 50px;
text-align: left !important;
align-items: center;
justify-content: space-between;
}

.rowf .address h6{
margin-right: 50px
}
.rowf .address a{
max-width: 350px
}


/*Страница регистрации*/
/*.box {
background-color:#ff6b00;
color:#fff;
width:30%;
height:80%;
position:relative;
left: 0;
right:0;
margin:0 auto;
border-radius: 20px;
box-shadow: 0 2px 10px #6E6E6E;
font-family: Trebuchet MS, sans-serif;
}
.box p{
font-size:140%;
text-align:center;
padding-top:2%;
}

.box .login{
padding-top:3%;
text-align:center;

}
.box .btn{
border-radius: 15px;
padding: 10px 20px;
background-color:#ff6b00;
color:#fff;
border: 5px solid #fff;
position:center;
left: 0;
right:0;
margin:0 auto;
font-size:100%
}*/

/*Личный кабинет*/
.nav-link{color:#ff6b00;}



/*Расписание*/
.content-header{
text-align: center;
padding-top:2%;
font-size:170%;
color:#ff6b00;
font-family: Trebuchet MS, sans-serif;
}
 hr{
size:1px;
width:75%;
color:#ff6b00;}

.timetable {
box-shadow: 0 1.5px 10px #6E6E6E;
font-family: Trebuchet MS, sans-serif;
text-align: center;
border-collapse: separate;
border-spacing: 5px;
background:#C0C0C0;
border-radius:30px;
margin:40px 0 20px 70px;
width:90%;
position:relative;
min-height: calc(100vh - 240px);
display: inline-block;
}
.timetable th{
padding:10px
}

@media screen and (max-width: 600px) {
  .timetable {
    overflow-y: scroll;
    overflow-x: scroll;

  }
}
.timetable td{
background-color:#696969;
padding:10px;
color:#fff;
}
/* Стили для подложки */




